.main__body {
  display: block;
  margin-top: 2rem;
  padding: 0 2rem;
  width: 100%;
}

.table {
  box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.1);
  animation: slideFromRight 0.3s ease-in;
  width: 100%;
}

.table__header {
  background: rgba(255, 192, 65, 0.1);
  font-weight: 600;
  font-size: 1.2rem;
  height: 4.5rem;

  tr {
    border-bottom: 2px solid hsl(0, 0%, 87%);
  }
}

.heading_alinment {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.add_button {
  width: 11rem;
  padding: 15px 20px;
  background: #ED430B;
  border-radius: 8px;
  color: #fff;
  overflow: hidden;
  transition: background 0.2s ease;
  border: 1px solid #ED430B;
}

.orders_data {
  font-size: 1.2rem;
  opacity: 0.7;
  text-align: center;
}

.sutdent_img {
  width: 5rem;
  height: 5rem;
  padding: 5px;
  text-align: center;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
  }
}

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  background: #fff !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

.wrapper {
  position: relative;

  .btn__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
  }
}

.btn__transparent {
  background-color: transparent;
  outline: none;
  display: inline-block;
}


mat-form-field {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif !important;
  // color: #000;
}

.filter__selection.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 5px 0;
}

.filter__selection .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}